.navbar {
    min-width: 980px;
    height: 33px;
    position: relative;
    color: lightcyan;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
}
.middled {
    align-items: center;
}
/* .main {
    background-color: black;
} */

body {
    color: "#fbe9e7"
}
