.navbar {
    min-width: 980px;
    height: 33px;
    position: relative;
    color: lightcyan;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
}
.middled {
    align-items: center;
}
/* .main {
    background-color: black;
} */

/* body {
    color: "#fbe9e7"
} */

.new-request-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    /* width: 600px; */
    padding: 10px;
    margin: 10px;
}
.homepage-browsers {
    display: flex;
    flex-wrap: wrap;
}

.expense-browser-container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    /* width: 600px; */
}

.friend-browser-container {
    position: sticky;
    top: 80px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
    max-height: 500px;
}
