.navbar {
    min-width: 980px;
    height: 33px;
    position: relative;
    color: lightcyan;
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* max-width: 300px; */
}
.middled {
    align-items: center;
}
